// start .sPopular
.sPopular {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{
		width: 120px;
		display: block;
		margin-right: rem(40);
		color: $body-color;
		p{
			font-weight: 300;
			// font-size: rem(14);
			color: var(--text-caption, #ABACAF);
		}
	}
	&__title{
		font-weight: 300;
		font-size: rem(16);
		line-height: 1.2;
	}
	&__img-wrap{
		aspect-ratio: 1;
		position: relative;
		display: block;
		border-radius: 10px;
		overflow: hidden;
		background-color: #fff;
		margin-bottom: rem(10);
	}
	&__slider{
		overflow: visible;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPopular