mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			.panel-block
				h1 Felis ut mauris
				.small.text-light.mb-4 Felis ut mauris
				h3 Felis ut mauris
				.column2
					a(href="#") sdasd sd asd  
					p Bibendum in vel mollis scelerisque. Lacus viverra donec orci, sit sed nisi eu sapien sed. Ultrices a, feugiat elit rhoncus. Velit odio massa enim nunc ante viverra. Vel augue augue consequat, scelerisque neque urna vulputate pretium dolor. Mi sit at facilisi vulputate pretium cursus. Turpis et nunc dui, odio elementum non. Mi sed posuere purus hendrerit aliquam vel amet.
					p Ornare auctor hac fringilla sed. Mi porta interdum lectus aenean scelerisque tristique natoque sit facilisi. Donec fusce lobortis justo, diam at. Molestie consequat libero a odio adipiscing egestas. Commodo eu, massa nulla turpis nec ac. Gravida vulputate donec eu, aliquet est. Tellus, rhoncus odio tristique id quis quis elit lectus at. Massa massa pellentesque adipiscing ut nisl. Massa, ut sed cras ac dui. Gravida nisi et laoreet venenatis sit mattis cursus at a. Sed cursus duis commodo, phasellus. In non diam consequat arcu amet hac. Lobortis morbi suspendisse nec duis sollicitudin ut duis.
					p Bibendum in vel mollis scelerisque. Lacus viverra donec orci, sit sed nisi eu sapien sed. Ultrices a, feugiat elit rhoncus. Velit odio massa enim nunc ante viverra. Vel augue augue consequat, scelerisque neque urna vulputate pretium dolor. Mi sit at facilisi vulputate pretium cursus. Turpis et nunc dui, odio elementum non. Mi sed posuere purus hendrerit aliquam vel amet.
					p Ornare auctor hac fringilla sed. Mi porta interdum lectus aenean scelerisque tristique natoque sit facilisi. Donec fusce lobortis justo, diam at. Molestie consequat libero a odio adipiscing egestas. Commodo eu, massa nulla turpis nec ac. Gravida vulputate donec eu, aliquet est. Tellus, rhoncus odio tristique id quis quis elit lectus at. Massa massa pellentesque adipiscing ut nisl. Massa, ut sed cras ac dui. Gravida nisi et laoreet venenatis sit mattis cursus at a. Sed cursus duis commodo, phasellus. In non diam consequat arcu amet hac. Lobortis morbi suspendisse nec duis sollicitudin ut duis.
	// end sContent