mixin product-item(i, t, p ,pr, pr2)
	+b.ARTICLE.product-item(href="#")
		block
		+e.img-wrap(href="#")

			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
			.img-wrap-center 
				+img(`img/prod-${i}.jpg`)
		+e.caption
			+e.title.text-body
				a(href="#").text-body!= t
			+e.text!= p
			.row
				.col
					+e.price.mono(class=`${pr2 ? " text-danger" : " "}`)!= pr
					if pr2 
						+e.price--old!= pr2

				.col-auto
						+e.btn(href='#').btn.btn-primary Add
	// /.product-item

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title
				h2 Rolls 

			+e.row.row
				- const wrapClass="col-xl-3 col-lg-4 col-sm-6"
				+e.col(class= wrapClass)
					+product-item(`1`,`Sake maki `,`tiger shrimp, crab cream, cucumber, bell pepper, iceberg lettuce, masago, honey sauce (6 pcs.)`,`$129.5`,'$10')
						+e.label NEW
				+e.col(class= wrapClass)
					+product-item(`2`,`Philadelphia roll with eel`,`crab meat, cucumber, avocado, masago, tuna, wasabi (6 pcs.) `,`$7.5`) 
						+e.label
							+img("img/leaf.svg")
				+e.col(class= wrapClass)
					+product-item(`3`,`Spice roll with smoked salmon`,`tiger shrimp, crab cream, cucumber, bell pepper, iceberg lettuce, masago, honey sauce (6 pcs.)`,`$129.5`,'$10') 
						+e.label
							+img("img/hot-pepper.svg")
				+e.col(class= wrapClass)
					+product-item(`4`,`Sake maki `,`tiger shrimp, crab cream, cucumber, bell pepper, iceberg lettuce, masago, honey sauce (6 pcs.)`,`$129.5`,'$10') 
						+e.label.text-success ECO

	// end sCatalog